#index:
#    path: /
#    controller: App\Controller\DefaultController::index

logout:
    path: /logout
    controller: App\Controller\LogOutController::logout

api_login_check:
  path: /api/login_check
  methods: ['POST']

gesdinet_jwt_refresh_token:
    path: /api/token/refresh
    controller: gesdinet.jwtrefreshtoken::refresh

pageNotFound:
    path:  /{path}
    defaults:
      {
        _controller: App\Controller\PageNotFoundController::pageNotFoundAction,
        path: ''
      }
    requirements:
        path: .*



#register:
#    path: /register
#    controller: App\Controller\AuthController::register
#    methods: ['POST']
#
#apii:
#    path: /apii
#    controller: App\Controller\AuthController::apii
#    methods: ['POST']

#api:
#    prefix: /api
#    resource: '../src/Controller/Api'